/* Home.css */

/* .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; Ensure the container takes up the full viewport height */
/* } */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

content {
  flex: 1;
  padding-top: 60px; /* Adjust this value based on the height of the navbar */
  display: flex; /* Use flexbox to position components within the content */
  flex-direction: column; /* Stack components vertically */
  align-items: center; /* Center components horizontally */
  justify-content: center; /* Center components vertically */
}

.footer {
  width: 100%;
  margin-top : auto ; 
}
